.header {
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  .header-content h1 {
    font-size: 2rem;
    color: black;
    text-align: left;
    font-family: 'Inter', sans-serif;
  }
  
  .header-content img {
    max-width: 80%;
    height: auto;
  }
  