.login-container {
    text-align: center;
    position: relative;
    top: -20px;
  }
  
  .login-container h1 {
    font-weight: bold;
  }
  
  .login-container label {
    display: block;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: left; 
    font-weight: bold;
  }
  
  .login-container input {
    background-color: #D9D9D9;
    width: 556px;
    height: 58px;
    margin: 10px auto;
    display: block;
    border-radius: 1px;
    border: 1px solid #ccc; 
  }
  
  .login-container input.error {
    border: 2px solid red;
  }
  
  .form-button button {
    margin-right: 50px;
    border-radius: 1px;
    width: 253px;
    height: 53px;
    color: white;
    font-size: 1rem;
    margin: 20px 10px;
  }
  
  .form-button button:first-child {
    background-color: #003B93;
  }
  
  .form-button button:last-child {
    background-color: #E75D5D;
    color: black;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  