.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between header, content, and footer */
  align-items: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
}


header, footer {
  width: 100%;
}

.login-container {
  text-align: center;
  position: absolute; 
  top: 20%; 
  left: 50%;
  transform: translate(-50%, 50%); 
}
.table-container {
  text-align: center;
  position: absolute; 
  top: 20%; 
  left: 50%;
  transform: translate(-90%, 80%); 
}

.car-details {
  text-align: center;
  position: absolute; 
  top: 20%; 
  left: 50%;
  transform: translate(40%, 65%); 
}