.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between header, content, and footer */
  align-items: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal scroll */
}

/* Make sure header and footer take the full width */
header, footer {
  width: 100%;
}

.login-container {
  margin-top: -8vh; /* Adjust to vertically align the login container upwards */
}